/* -------header------ */
.menu-item{
    display: none;
}

.burger{
    display: flex;
    text-align: center;
    font-size: 20px;
   width: 10%;
}

.header-text{
    padding:20px;
}
/* ---------footer css-------- */
.footer{
    display: flex;
    flex-flow: column wrap;
    
}
.part1{
    display: none;
}

/* -------Contact ------ */
.holder{
    width: 90%;
}
.head-text{
    
    width: 100%;
    
}
.content-part{
    padding: 30px;
}
.picture{
    width: 50%;
    height: auto;
}
/* .head-text{
    font-size: 1em;
}

.content-heading{
    font-size: 1em;
} */