/* -------header------ */
.menu-item{
    display: none;
}

.burger{
    display: flex;
    text-align: center;
    font-size: 20px;
   width: 10%;
}

.header-text{
    padding:20px;
}
.header-text-a{
   
    font-size: 20px;
    
}

/* ---------footer css-------- */
.footer{
    display: flex;
    flex-flow: column wrap;
    
}
.part1{
    display: none;
}

/* -------Contact ------ */
.body-section{
    width: 100%;
}
.holder{
    width: 90%;
}
.head-text{
    
    width: 100%;
    
}
.content-part{
    padding: 10px;
    text-align: center;

}

.picture{
    display: none;
}


.fttr1{
    
    padding-left: 0px;
}

.text > a >i{
    font-size:15px;
    width: calc(100% / 5 );
    
}
.dropdown{
    height: 300px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
}


/* ------calculator css ---- */
.card{
    width: 90%;
}

.cardView{
    width: 90%;
}

/* .head-text{
    font-size: 1em;
}

.content-heading{
    font-size: 1em;
} */