body{
    margin: 0 auto;
    
    font-family: 'arial';
/* font-family: 'Roboto', sans-serif; */
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    
}

.navbar{
    display: flex;
    justify-content: flex-start;
    flex-flow: row ;
    align-items: center;
    width: 100%;
    height: 60px;
    position: fixed;
    padding:10px;
    z-index: 1;
    background-color: rgb(255,255,255);
    text-transform: uppercase;
}

.header-text{
    width: 100%;
    padding-left: 50px;
    font-family: 'Poppins', sans-serif;
}
.header-text-a{
    color: black;
    text-decoration: none;
    font-size: 25px;
    line-height: 1em;
    flex:1;
}

.menu-item{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
   
   
}

.burger{
    display: none;
}

.menu-item-div{
    flex:1;
    width:calc(100% / 4);
    padding: 10px;
    
    
}

a > i{
    color: rgb(83, 0, 161);
}

a >i:hover{
    color: rgb(48, 0, 94);
}

.menu-item-a{
    color: black;
    text-decoration: none;
    font: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
}

.menu-item-a:hover{
    color: rgb(83, 0, 161);
    
}

.body-part{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
}

.bg{
    background-image: linear-gradient( to right, #E5BBFF 0% , #E5BBFF 40%, rgb(255,255,255) 40%, rgb(255,255,255) 100%) ;
    /* background-color:rgb(230,218,206)  ; */
    width: 100%;
    height: 800px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline;
}

.card{
    /* z-index: 1; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 3px 15px rgb(7, 0, 12);
    width: 50%;
    height: 473.8px;
    margin: auto;
    background-color:rgb(250, 226, 253) ;
    /* padding: 20px ; */
}

.image{
    width: 300px;
    height: auto;
    
    /* box-shadow:2px 3px 15px rgb(7, 0, 12) ; */

}

.part1{
    display: flex;
    align-self: center;
    justify-self: center;
}

.part2{
    flex:1;
    background-color:rgb(255, 255, 255) ;
   /* padding-left:20px;
   padding-right:20px; */
   
    padding: 40px;
    height: 473.8px;
    text-align: left;
     box-shadow:2px 3px 15px rgb(7, 0, 12) ;

}

.part2> h1{
    font-size: 30px;
    font-family: 'Poppins';
}

.part2 > p{
    font-size: 15px;
    font-family: 'Roboto';
    line-height: 1.5;
}

.btns{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-evenly;
    align-items: center;
    padding:25px;
}

.btn{
    width: 120px;
    text-transform: uppercase;
    height: 30px;
    border-radius:20px;
    cursor: pointer;
    font-size: medium;
    font-weight: 500;
    /* box-shadow: 2px 2px  15px black;*/
} 

.btn1{
    background-color: rgb(255, 255, 255);
     border: 1px solid black;
}

.btn2{
    background-color: #E5BBFF;
     color: white;
      border:1px solid #E5BBFF; 
}

.btn1:hover{
    background-color: #E5BBFF;
     color: white;
      border:1px solid #E5BBFF; 
}
.btn2:hover{
    background-color: rgb(255, 255, 255);
     border: 1px solid black;
     color: black;
}


.icons{
    margin-top: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items:center;
    height: 40px;
    /* color: rgb(209, 168, 255); ; */
    background-color: rgb(209, 168, 255);
}

.icons > i{
    flex:1;
    align-self: center;
    text-align: center;
}

.footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-family: 'arial';
    
}

.fttr1{
    flex:1;
    padding-left: 50px;
}
.fttr2{
    flex:1;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.heading{
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.text{
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto';
}

.text > a >i{
    font-size:18px;
    width: calc(100% / 5 );
    
}


.body-section{
    background-color: rgb(230,218,206);
    width: 100%;
    padding-bottom: 100px;
    
}
.holder{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    font-family: 'Roboto';
}

.head-text{
    font-size: xx-large;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 150px;
    width: 50%;
    
}

.sub-items{
    text-align: center;
    width: 80%;
    font-family: 'Roboto';
}
.card-view{
    width: 100%;
    margin-top:50px;
    height: 380px;
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    box-shadow: -11.31px 11.31px 25px 0px rgba(138,131,124,0.23);
}

.content-part{
    flex:2;
    padding:20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items:flex-start;
    
}

.content-heading{
    flex:1;
}

.content-heading >h2{
    font-family: 'Poppins';
    margin-block-end: 0em;
}
.content-heading >p{
    font-family: 'Poppins';
    
    margin-block-start: 0em;
}

.content-body{
    flex:2;
}

.picture{
    flex:1;
    display: flex;
    
}






